extends layout 

block content
    h2 Forms

    form(action="/new", method="post") 
        | User  
        input(type="text" value="" name="messageUser").
        | Message 
        input(type="text" value="" name="messageText").
        input(type="submit", value="submit").